<form id="batch-actions-form">
	<table id="list-table" border="1" cellpadding="5" cellspacing="0">
		<thead>
			<tr>
				<th class="c1">Выбор</th>
				<th class="c2">Мои&nbsp;рисунки</th>
				<th class="c3">Посмотреть</th>
			</tr>
		</thead>
		<tbody id="list-table-body"></tbody>
	</table>

	<table id="table-menu">
		<tbody>
			<tr>
				<td class="c1">
					<select name="action" value="select">
						<option value="select" selected="true">действия с выбранными...</option>
						<option value="delete">удалить</option>
						<option value="download">загрузить</option>
					</select>
				</td>
				<td class="c2"><input type="submit" name="Выполнить действия с выбранными" /></td>
			</tr>
		</tbody>
	</table>
</form>
